<!-- 
<ng-container *ngIf="flag">
    <p  >primero works!</p>
</ng-container>


<button id="btn">click</button>
<!-- <ng-container *ngFor="let pais of paises; let i=index;">
    <span id="pais-{{i}}">orden: <p>{{i}}</p></span>
    <span>id: <h2>{{pais.id}}</h2></span>
    <span>pais: <p>{{pais.nombre}}</p></span>
    
</ng-container> -->

<!--<ng-container *ngFor="let item of platillos; let i=index;">
    <div [ngSwitch]="item.pais">
        <span *ngSwitchCase="PAISES.MEXICO">México</span>
        <span *ngSwitchCase="PAISES.JAPON">Japon</span>
        <span *ngSwitchCase="PAISES.RUSIA">Rusia</span>
        <span *ngSwitchDefault>No hay</span>
    </div>
    
</ng-container> -->

<h1 [color]="'aqua'" [size]="'90px'" [fontStyle]="'italic'" [dynamicColor]="'blue'" [sizeFont]="'200px'" [transition]="'font-size 1s ease-in-out'">Lo que sea</h1>
<p [color]="'red'">Rojo</p>

<h1 id="texto" #texto>Lo que sea</h1>